SOMETHINGELSE{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

.main-section{
  padding: 20;
}

.image-container{
  height: 500px;
  background-image: url(https://images.unsplash.com/photo-1503614472-8c93d56e92ce?q=80&w=2011&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

h1{
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
}

h3{
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-top: 0;
} 

h1, h3{
  margin-bottom: 0;
}

a{
  font-weight: 600px;
  font-style: italic;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-bottom: 1px;
  border-color: #dfdfdf;
  text-decoration: none;
  color: blue;
}

h6{
  padding: 22px;
  margin-bottom: 0;
  margin-top: 56px;
  color: white;
  border-radius: 6px;
  background-image: linear-gradient(90deg, lightblue, black);
}

ul{
  list-style: none;
  padding: 0;
}





